.wrapper-chat{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #CED4DA;
  height: 736px;
  width: 368px;
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  overflow: auto;
}

.list-item{
  overflow: auto;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 10px;
  margin-right: 20px;
  width: 281px;
  min-height: 71px;
  background-color: #EBE5FC;
}

.list-item-answ{
  overflow: auto;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 5px;
  margin-left: 20px;
  width: 281px;
  min-height: 71px;
  background-color: #9EC5FE;
}

.send-message{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-area {
  outline: none;
  height: 89px;
  width: 300px;
  max-width: 300px;
  border: 1px solid #7749F8;
  border-radius: 4px;
}

.text-area-red {
  outline: none;
  height: 89px;
  width: 300px;
  max-width: 300px;
  border: 1px solid red;
  border-radius: 4px;
}

.btn{
  cursor: pointer;
  color: #ffffff;
  background-color: #7749F8;
  margin: 25px;
  border: none;
  border-radius: 4px;
  height: 24px;
  width: 120px;
}

.btn:hover {
  background-color: #5c21ff;
}