.root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.Mainwrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 49px;
  min-height: 900px;
}
 .wrapper{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  min-width: 800px;
  min-height: 900px;
  gap: 24px;
} 

.cards-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 900px) {
  .wrapper{
    min-width: auto;
    justify-content: center;
  }
}