.image{
  width: 351px;
  height: 265px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.row{
  border: 1px solid #DEE2E6;
  border-radius: 12px;
}

.card_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price_wrapper{
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner{
  width: 300px;
}

.description{
  color: #68717A;
}

.hover-effect {
  position:relative;
}

.hover-effect:hover .hide{
  display: block;
  opacity: 1;
}

.hover-effect:hover .image{
  filter: brightness(45%);
}

.hide {
  display: none;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left:0;
  right:0; 
  margin: auto;
  cursor: pointer;
}


